body {
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(135deg, #83a4d4, #b6fbff);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
  text-align: center;
  min-height: 100vh;
  position: relative;
}

.search-container.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.disable-scroll {
  overflow: hidden;
  height: 100%;
}

input[type='text'] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  margin-bottom: 16px;
  box-sizing: border-box;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 2px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s;
  
}

input[type='text']:focus {
  border-color: #0077b6;
}

input[type='text']:hover {
  border-color: #005ea6;
}

.container button {
  background-color: #0077b6;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.container button:hover {
  background-color: #005ea6;
}

.country-flag, img {
  max-width: 100%;
  max-height: 100%;
  margin-bottom: 10px;
}

h1 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 1rem;
}

h2 {
  margin-bottom: 20px;
}

p, .error-message {
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 5px;
}

.error-message {
  color: red;
  font-weight: bold;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.error-message.visible {
  opacity: 1;
}


.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__input {
  width: 100%;
  height: 30px;
  padding: 10px 20px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 4px;
}

.react-autosuggest__input:focus {
  outline: none;
  border-color: #3f51b5;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  top: 51px;
  width: 100%;
  border: 1px solid #aaa;
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-radius: 4px;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}

.country-data {
  background-color: white;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  width: 100%;
  opacity: 0;
  animation: fadeIn 0.5s ease-in forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@media (max-width: 767px) {
  .container {
    padding: 20px;
  }

  .country-data {
    width: 100%;
  }

  h1 {
    font-size: 1.5rem;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .country-data {
    flex-basis: calc(50% - 10px);
    width: calc(50% - 20px);
  }
}

@media (min-width: 992px) {
  .country-data {
    flex-basis: calc(50% - 13.333px);
    width: calc(33.333% - 20px);
  }
}

.search-form {
  margin-bottom: 20px;
}

.active-filter {
  background-color: #007bff;
  color: white;
  border-color: #007bff;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.filter-panel-container {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  gap: 5px;
}

.filter-panel-container .filter-panel-options{
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}

.filter-panel-container .filter-options{
  display: flex;
  flex-direction: column;
}

.clickable-country {
  cursor: pointer;
  color: #007bff;
  margin-bottom: 5px;
  transition: color 0.3s, text-decoration 0.3s;
}

.clickable-country:hover {
  color: #0056b3;
  text-decoration: underline;
}

.clickable-country .fa-info-circle {
  margin-right: 5px;
}

.country-data-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  overflow-y: auto;
  max-height: 80vh;
  width: 100%;
  justify-content: center;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.search-container .filter-btn {
  margin-left: 10px;
  margin-bottom:85px;
}

.search-container .filter-btn {
  background-color: #FF9800;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-flex;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s, box-shadow 0.3s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  align-items: center; 
  justify-content: center; 
  margin-left: 10px;
}

.search-container .filter-btn:hover {
  background-color: #F57C00;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.country-list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px; 
}