.filter-list {
    max-height: 200px; 
    overflow-y: auto;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .filter-list li {
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .filter-list li:hover {
    background-color: #f0f0f0;
  }
  
  .filter-list li.selected {
    background-color: #cbcaca;
  }